<ion-view title="Page">
    <ion-content padding="true" class="has-header">
        <h3>Haichi</h3>
        <div class="button-bar"></div>
        <div>
            <p>Hachi: A dog's story is really moving, this project is started after the dog -- Hachi</p>
        </div>
        <div class="button-bar">
            <button class="button button-positive button-block ">Summary</button>
            <button class="button button-dark button-block ">Details</button>
            <button class="button button-royal button-block ">Ending</button>
        </div>
        <button class="button button-light button-block ">Fuck me</button>
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body"></div>
        </div>
        <img src="/img/twd2-articleLarge.jpg" width="100%" height="auto" style="width: 100%; height: auto;">
        <div class="spacer" style="height: 100px;"></div>
        <form class="list">
            <ion-checkbox name="sex">Male</ion-checkbox>
            <form class="list" action="/user" method="post">
                <ion-toggle toggle-class="toggle-positive">Toggle</ion-toggle>
                <ion-radio>Radio</ion-radio>
                <label class="item item-input">
                    <span class="input-label">Input</span>
                    <input type="text" placeholder="">
                </label>
            </form>
        </form>
    </ion-content>
</ion-view>